body{
    font-family:Lato, sans-serif;
    background-color: rgb(240, 213, 178);
}
.corpo{
    text-align: center;
    border-style: double;
    margin-left: 500px;
    margin-right: 500px;
}
.cadastro{
    display: flex;
    flex-direction: column;
}
input{
    margin-top: 7px;
}
.botao{
    margin-bottom: 5px;
}
.imagem{
    width: 200px;
    height: 180px;
    margin-bottom: 5px;
}
