body{
    font-family:Lato, sans-serif;
    background-color: rgb(240, 213, 178);
    border-style: solid;
    border-top: hidden;
    border-bottom: hidden;
    margin-left: 400px;
    margin-right: 400px;
}
.corpo{
    text-align: center;
}
.cadastro{
    display: flex;
    flex-direction: column;
}
input{
    margin-top: 7px;
}
.botao{
    margin-bottom: 5px;
}
.imagem{
    width: 200px;
    height: 180px;
    margin-bottom: 5px;
}
